<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjly.dao.IUserDao">
    <sql id="basesql">
        u.id as id,u.login_account as loginAccount,u.login_password as loginPassword,u.pay_password as payPassword
    </sql>
    <select id="selectAllUser" resultType="user">
        SELECT
        <include refid="basesql"/>
        FROM user u
    </select>

</mapper>